<h1>S I M O N E</h1>

<form method="post" action="/boton">
  <input type="hidden" name="boton" value="1" >
	<input  class='btn btn-secondary btn-lg' type="submit" value="1">
</form>

<form method="post" action="/boton">
	<input type="hidden" name="boton" value="2">
	<input  class='btn btn-secondary btn-lg' type="submit" value="2">
</form>

<form method="post" action="/boton">
	<input type="hidden" name="boton" value="3">
	<input  class='btn btn-secondary btn-lg' type="submit" value="3">
</form>

<form method="post" action="/boton">
	<input type="hidden" name="boton" value="4">
	<input  class='btn btn-secondary btn-lg' type="submit" value="4">
</form>
