
<form method="post" action="/boton">
  <input type="hidden" name="boton" value="1" >
	<input type="submit" value="1">
</form>

<form method="post" action="/boton">
	<input type="hidden" name="boton" value="2">
	<input type="submit" value="2">
</form>

<form method="post" action="/boton">
	<input type="hidden" name="boton" value="3">
	<input type="submit" value="3">
</form>

<form method="post" action="/boton">
	<input type="hidden" name="boton" value="4">
	<input type="submit" value="4">
</form>
