
<h1>REGLAS   DEL   JUEGO</h1>
<h4>Tendras que memorizar la siguiente secuencia de numeros</h4>
<h2><%= @secuencia %></h2>
<h4>Para empezar a jugar debes apretar el botón avanzar</h4>

<form method="post" action="/jugar">
	<input type="submit" value="avanzar">
</form>
